
body{
    background-image: url('https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;   
    margin: auto;
    border: 0;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login-box{
background: rgba(114, 108, 108, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(214, 208, 208, 0.3);
height: 550px;
width: 450px;
}
.text-login p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.text-login span{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(212, 212, 212);
}
.text-login{
    text-align: center;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.login-form{
    margin-top: 40px;
}
.form-control{
    margin-top: 20px;
    width: 350px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    height: 40px;
    border: #00000033 1px solid;
    font-size: 20px;
    border-radius: 15px;
    background-color: #a5a5a524;
}
.form-control::placeholder{
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(196, 196, 196);
}
.form-control:focus{
    outline: none;
}
.form-enter{
    margin-top: 20px;
    width: 200px;
    font-weight: bold;
    height: 45px;
    border-radius: 10px;
    background:white;
    font-family: 'Quicksand', sans-serif;
    border: transparent 1px solid;
}
hr{
    width: 70%;
    margin-top: 40px;
}
.social-login p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.social-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fab{
    color:white;
    border-radius: 20px;
    font-size: 40px;
    width: 50px;
    height: 50px;
} 